.container-fluid{
	margin:0;
	padding: 0;
}
.wrapper{
	display: flex;
}
.sidebar{
	flex: 0 0 20%;
	max-width: 20%;
	background-color: #007bff;
	height: 100vh;
}
.sidebar .glogo {
	height: 70px;
	background-color: #0048ff;
	display: flex;
	align-items: center;
	padding:25px;
}
.sidebar .glogo img{
	width:60%;
	vertical-align: bottom;
}
.sidebar .glogo span{
	color: white;
	font-size:14px;
}
.sidebar ul{
	list-style: none;
	padding:0;
	padding-top:10px;
}
.sidebar li{
	width:100%;
}
.sidebar li>a{
	color:white;
	display: inline-block;
	width:100%;
	padding:10px 25px;
	text-decoration: none;
	transition: .2s;

}
.sidebar li>a:hover{
	background-color:#0038ff;
	transition: .2s;
}
.main{
	flex-grow: 1;
	max-height:100vh;
	overflow: scroll;
}
.main  .card{
	border:0;
	position: relative;
	z-index: 1;
	background:transparent;
}
.main .top{
	height: 70px;
	background-color: #25489f;
	display: flex;
	align-items: center;
	padding:15px;
}
.main .content{
	padding:20px 25px;
	position: relative;
	text-align: justify;
}
.main .content .pattern{
	position: fixed;
	bottom:50px;
	right: 60px;
	opacity: 0.7;
}
.main .top{
	display: flex;
	justify-content: space-between;
	padding:20px 25px;
	color:white;
}

.main .top .sync{
	align-self: flex-end;
}
.main .top .right{
	display: flex;
}
.main .top .right .sync{
	margin-right:20px;
}
.main .top .lang-drop{
	position: relative;
}
.main .top .lang-drop ul{
	position: absolute;
	padding:0;
	list-style: none;
	background-color: #53f3f1;
	color:black;
	padding:5px 10px;
	border:0;
	margin-top:10px;
	display: none;
}
.main .top .lang-drop span{
	cursor: pointer;
	display: block;
}