@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
	font-family: 'Play', sans-serif;
}

.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
 	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.loginForm{
	max-width:600px;
	text-align: center;
	box-shadow:0px 0px 4px 1px #3da8fd42;
	padding:30px 60px;
	border-radius: 5px;
	background-color: white;
	opacity: 0.95;
}
.loginForm .form-group input{
	background-color:white;
}
.loginForm .form-control:focus{
	box-shadow: none;
}
.loginForm .form-group{
	margin:20px 0;
}
.loginForm .logo{
	background-color: #007bff;
	padding:15px 50px;
	text-align: center;
	max-width:400px;
	margin:0 auto;
	color:white;
}
.loginForm .logo img{
	max-width: 100%;
}
.loginForm .btn-info{
	background-color: #007bff;
	color:white;
}