@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
	font-family: 'Play', sans-serif;
}

.container-fluid{
	margin:0;
	padding: 0;
}
.wrapper{
	display: flex;
}
.sidebar{
	flex: 0 0 20%;
	max-width: 20%;
	background-color: #25489f;
	height: 100vh;
}
.sidebar .glogo {
	height: 70px;
	background-color: #25489f;
	display: flex;
	align-items: center;
	padding:25px;
	border-bottom:1px solid white;
}
.sidebar .glogo img{
	width:60%;
	vertical-align: bottom;
}
.sidebar .glogo span{
	color: white;
	font-size:14px;
}
.sidebar ul{
	list-style: none;
	padding:0;
	padding-top:10px;
}
.sidebar li{
	width:100%;
}
.sidebar li>a{
	color:white;
	display: inline-block;
	width:100%;
	padding:10px 25px;
	text-decoration: none;
	transition: .2s;

}
.sidebar li>a:hover{
	background-color:#0038ff;
	transition: .2s;
}
.main{
	flex-grow: 1;
	max-height:100vh;
	overflow-y: scroll;
}
.main  .card{
	border:0;
	position: relative;
	z-index: 1;
	background:transparent;
}
.main .top{
	height: 70px;
	background-color: #25489f;
	display: flex;
	align-items: center;
	padding:15px;
}
.main .content{
	padding:20px 25px;
	position: relative;
	text-align: justify;
	margin-top:100px;
}
.main .content .pattern{
	position: fixed;
	bottom:50px;
	right: 60px;
	opacity: 0.7;
}
.main .top{
	display: flex;
	justify-content: space-between;
	padding:20px 25px;
	color:white;
	position: fixed;
	width:80%;
	z-index: 2;
}

.main .top .sync{
	align-self: flex-end;
}
.main .top .right{
	display: flex;
}
.main .top .right .sync{
	margin-right:20px;
}
.main .top .lang-drop{
	position: relative;
}
.main .top .lang-drop ul{
	position: absolute;
	padding:0;
	list-style: none;
	background-color: #53f3f1;
	color:black;
	padding:5px 10px;
	border:0;
	margin-top:10px;
	display: none;
}
.main .top .lang-drop span{
	cursor: pointer;
	display: block;
}

.main .top .name-cont{
	position: relative;
		z-index: 2;
}
.main .top #name{
	display: block;
	cursor: pointer;
}
.main .top #logout{

	width:80%;
	position: absolute;
	margin-top:10px;
	background-color: white;
	box-shadow: 0 0 1px 1px #eee;
	color:black;
	
	border:0;
	right:0;
	display: none;
	padding:0;
	margin-left:-10px;
	list-style: none;
}
.main .top #logout li{
	padding:10px 20px;
	cursor: pointer;
}
.main .top #logout li:hover{
	background-color:red;
	color:white;
}