<div>
    <form action="javascript:void(0)" method="POST" id="ben">
        <div class="row">
            <div class="col-12 form-check">
                <label for="">Резидент</label>
                <label class="form-check-label">Да</label>
                <input type="radio" class="form-check-input" name="TB_REZIDENT" value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="form-check-label">Нет</label>
                <input type="radio" class="form-check-input" name="TB_REZIDENT" value="0">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="">ИНН</label>
                <input class="form-control" id="TB_ORGINN" maxlength="9" name="TB_ORGINN" type="text">
            </div>
            <div class="col-8">
                <label for="">Наименование организации</label>
                <input class="form-control" id="TB_ORGNAME" name="TB_ORGNAME" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="">ОКОНХ</label>
                <input class="form-control" id="TB_KOD_OKONX" maxlength="5" name="TB_KOD_OKONX" type="text">
            </div>
            <div class="col-6">
                <label for="">ОКЕД</label>
                <input class="form-control" id="TB_KOD_OKED" maxlength="5" name="TB_KOD_OKED" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">МФО</label>
                <input class="form-control" id="TB_ORGMFO" maxlength="5" name="TB_ORGMFO" type="text">
            </div>
            <div class="col-6">
                <label for="">Банк</label>
                <input class="form-control" id="TB_ORGBANK" name="TB_ORGBANK" type="text">
            </div>
            <div class="col-3">
                <label for="">Расчётный счёт</label>
                <input class="form-control" id="TB_ORGSCHET" name="TB_ORGSCHET" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="">ОКПО</label>
                <input class="form-control" id="TB_KOD_OKPO" name="TB_KOD_OKPO" type="text">
            </div>
            <div class="col-6">
                <label for="">СОАТО</label>
                <input class="form-control" id="TB_KOD_SOATO" name="TB_KOD_SOATO" type="text">
            </div>
        </div>
        <div class="row from-group">
            <div class="col-6">
                <label for="">Директор</label>
                <input class="form-control" id="TB_DIREKTOR" name="TB_DIREKTOR" type="text">
            </div>
            <div class="col-6">
                <label for="">Бухгалтер</label>
                <input class="form-control" id="TB_BUHGALTER" name="TB_BUHGALTER" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <label for="TB_BASIS">Действует на основании</label>
                <input class="form-control" id="TB_BASIS" name="TB_BASIS" type="text">
            </div>
            <div class="col-3 form-check">
                <label class="form-check-label">Банк</label>
                <input name="TB_ISBANK" type="checkbox" class="form-check-input" value="1">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">Страна</label>
                <input class="form-control" id="TB_COUNTRY" name="TB_COUNTRY" type="text">
            </div>
            <div class="col-3">
                <label for="">Область</label>
                <input class="form-control" id="TB_OBLAST" name="TB_OBLAST" type="text">
            </div>
            <div class="col-3">
                <label for="">Район/город</label>
                <input class="form-control" id="TB_RAYON" name="TB_RAYON" type="text">
            </div>
            <div class="col-3">
                <label for="">Улица/Квартал</label>
                <input class="form-control" id="TB_ULICA" name="TB_ULICA" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="">Дом</label>
                <input class="form-control" id="TB_DOM" name="TB_DOM" type="text">
            </div>
            <div class="col-3">
                <label for="">Квартира</label>
                <input class="form-control" id="TB_KV" name="TB_KV" type="text">
            </div>
            <div class="col-4">
                <label for="">E-mail</label>
                <input class="form-control" id="TB_EMAIL" name="TB_EMAIL" type="text">
            </div>
            <div class="col-3">
                <label for="">Сайт</label>
                <input class="form-control" id="TB_SITE" name="TB_SITE" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">Почтовый индекс</label>
                <input class="form-control" id="TB_POCHTA" name="TB_POCHTA" type="text">
            </div>
            <div class="col-3">
                <label for="">Телефон 1</label>
                <input class="form-control" id="TB_PHONE1" name="TB_PHONE1" type="text">
            </div>
            <div class="col-3">
                <label for="">Телефон 2</label>
                <input class="form-control" id="TB_PHONE2" name="TB_PHONE2" type="text">
            </div>
            <div class="col-3">
                <label for="">Факс</label>
                <input class="form-control" id="TB_FAX" name="TB_FAX" type="text">
            </div>
        </div>
        <button class="btn btn-success pull-right" type="submit" id="submit_button">Сохранить</button>
    </form>
    
    <script src="../../assets/stepper/js/jquery-2.2.4.min.js" type="text/javascript"></script>   
</div>
<script>
    const { ipcRenderer } = require('electron');
    const submit_button = document.getElementById("submit_button")
    submit_button.addEventListener("click", function (e) {
        e.preventDefault()
        getFormData()
    });
    var user_id;
    function getFormData() {
        const myform = new FormData(document.querySelector('form#ben'))
        var object = {};
        myform.forEach(function (value, key) {
            object[key] = value;
        });
        ipcRenderer.send("beneficiar_create", object)
        $("#beneficiar_modal").modal('hide');
    }

</script>