<div>
	<style>
		table *{
			font-size:16px;
			color:black;
		}
		table tr:nth-child(even){
			background-color: rgb(128, 0, 0,0.2);
		}
	</style>
	<h2>Не отправленные договора</h2>
	<table class="table">
	<thead>
		<th>№ договор</th>
		<th>Код</th>
		<th>Страхователь</th>
		<th>Выгодоприобретатель</th>
	</thead>
	<tbody id="tbody">
		<tr>
			<td>1</td>
			<td>21</td>
			<td>MANNAPOV BATIR EGAMBERDIYEVICH</td>
			<td>ХАМКОРБАНК АКЦ.ТИЖ.БАНК</td>
		</tr>
		<tr>
			<td>2</td>
			<td>21</td>
			<td>ТЕРМИЗ-БОЙСУН КУРИЛИШ МЧЖ</td>
			<td>"RAVSHANOBOD BARAKA SAVDO" MChJ</td>
		</tr>
	</tbody>
</table>
</div>
<script>
	

</script>