<div>
	<style>
		table *{
			font-size:16px;
			color:black;
		}
		table tr:nth-child(even){
			background-color: rgb(0, 128, 0,0.2);
		}
	</style>
	<h2>Отправленные договора</h2>
	<table class="table">
	<thead>
		<th>№ договор</th>
		<th>Код</th>
		<th>Страхователь</th>
		<th>Выгодоприобретатель</th>
		<th>Bремя отправки</th>
	</thead>
	<tbody id="tbody">
		<tr>
			<td>1</td>
			<td>21</td>
			<td>MANNAPOV BATIR EGAMBERDIYEVICH</td>
			<td>ХАМКОРБАНК АКЦ.ТИЖ.БАНК</td>
			<td>2020-12-30 06:02</td>
		</tr>
		<tr>
			<td>2</td>
			<td>21</td>
			<td>ТЕРМИЗ-БОЙСУН КУРИЛИШ МЧЖ</td>
			<td>"RAVSHANOBOD BARAKA SAVDO" MChJ</td>
			<td>2020-12-30 05:14</td>
		</tr>
		<tr>
			<td>3</td>
			<td>21</td>
			<td>ЧП "GRANT BARAKA ISTIQBOL"</td>
			<td>"RAVSHANOBOD BARAKA SAVDO" MChJ</td>
			<td>2020-12-30 05:12</td>
		</tr>
		<tr>
			<td>4</td>
			<td>21</td>
			<td>ХАМКОРБАНК АКЦ.ТИЖ.БАНК</td>
			<td>MANNAPOV BATIR EGAMBERDIYEVICH</td>
			<td>2020-12-30 05:30</td>
		</tr>
	</tbody>
</table>
</div>
<script>
	

</script>